input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

h1, h2, h3, h5 { font-weight: 400; }
h4 { font-weight: 800; }

.map-embed {
  /* Appearance */
  border: 0;
  padding: 0;
}

/*
.map-embed label {
	display: table-cell; 
	text-align: center; 
	vertical-align: top;
}

.map-embed .form-group {
	display: table-row;
}
*/

#plotview {
  /* Appearance */
  border: 1px solid #666666;
  border-radius: 5px;
  /*padding: 0 5px 5px 5px;*/
  /*cursor: move;*/
  /* Fade out while not hovering */
  opacity: 0.95;
  zoom: 0.9;
  transition: opacity 100ms 200ms;
}

#plotview:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

.controls {
  /* Appearance */
  background-color: #fefef0;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  /*cursor: move;*/
  /* Fade out while not hovering */
  opacity: 0.8;
  /*zoom: 0.9;*/
  transition: opacity 100ms 200ms;
}

.controls:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

.control_group {
  /* Appearance */
  /*border: 1px solid #666666;
  border-radius: 5px;*/
	padding: 3px;
  font-size: 12px;
}



.mdblock-nopop {
  /* Appearance */
  background-color: #f3f3f3;
  border: 1px solid #666666;
  border-radius: 5px;
  text-align: center;
  padding: 3px 0 0 0;
  cursor: pointer;
  /* Fade out while not hovering */
  opacity: 0.75;
  /*transition: opacity 200ms 400ms;*/
}

.mdblock-nopop:hover {
  /*border: 2px solid #666666;*/
  cursor: pointer;
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

.mdblock {
  /* Appearance */
  background-color: #ffffff;
  border: 1px solid #666666;
  border-radius: 5px;
  text-align: center;
  padding: 3px 0 0 0;
  cursor: pointer;
  /* Fade out while not hovering */
  opacity: 0.75;
  /*transition: opacity 200ms 400ms;*/
}

#alert_scale:hover {
  border: 2px solid #0096FF;
  cursor: pointer;
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

.mdinfo {
	background-color:#f6f6e3;
	padding: 4px;
	margins: 0;
	border: 2px solid #909090;
	border-radius: 5px;
}

.btn {
	background-image: url("button.jpg");
	height: 25px;
}

.alertinfo {
	padding: 5px;
	margins: 20px 0px;
  opacity: 0.75;
  cursor: pointer;
}

.alertinfo:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

#legend_panel {
  /* Appearance */
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.logo {
  /* Appearance */
  background-color: transparent;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.7;
  zoom: 1.0;
  transition: opacity 100ms 100ms;
}

.logo:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

.dlsmall::before {
  display: inline-block;
  line-height: 1;
  height: 25px;
  width: 25px;
  /*vertical-align: -.125em;*/
  content: url(./dl_arrow.png);
}
